In [207]:
# Importing Libraries
import pandas as pd

In [208]:
# Reading files
base_path = r'C:\Users\Pedro Natanael\OneDrive\Documents\Mestrado\Reconhecimento de Padrões\energy_project\data'

year_solo = [f'_{year}' for year in range(2006, 2022)]

years_month_full = [f'-2_{year}_{str(month).zfill(2)}' for year in [2022, 2023] for month in range(1, 13)]

final_year = [f'-2_{2024}_{str(month).zfill(2)}' for month in range(1, 7)]

years = year_solo + years_month_full + final_year

dataframes = {}

for year in years:
    file_path = f'{base_path}\GERACAO_USINA{year}.csv'
    data = pd.read_csv(file_path, sep=';')

    dataframes[str(year)] = data

dataframes['_2006'].head()

<>:15: SyntaxWarning: invalid escape sequence '\G'
<>:15: SyntaxWarning: invalid escape sequence '\G'
C:\Users\Pedro Natanael\AppData\Local\Temp\ipykernel_15372\2157416237.py:15: SyntaxWarning: invalid escape sequence '\G'
  file_path = f'{base_path}\GERACAO_USINA{year}.csv'

,din_instante,id_subsistema,nom_subsistema,id_estado,nom_estado,cod_modalidadeoperacao,nom_tipousina,nom_tipocombustivel,nom_usina,id_ons,ceg,val_geracao
0,2006-01-01 00:00:00,N,NORTE,PA,PARA,TIPO I,HIDROELÉTRICA,Hidráulica,Tucuruí,PATU,UHE.PH.PA.002889-4.01,4613.86
1,2006-01-01 00:00:00,N,NORTE,PA,PARA,TIPO I,HIDROELÉTRICA,Hidráulica,Curuá-Una,PACU,UHE.PH.PA.027130-6.01,18.00
2,2006-01-01 00:00:00,NE,NORDESTE,AL,ALAGOAS,TIPO I,HIDROELÉTRICA,Hidráulica,Xingó,ALUXG,UHE.PH.SE.027053-9.01,2117.14
3,2006-01-01 00:00:00,NE,NORDESTE,AL,ALAGOAS,TIPO I,TÉRMICA,Óleo Diesel,Rio Largo Brasympe,ALBERL,UTE.PE.AL.028505-6.01,0.00
4,2006-01-01 00:00:00,NE,NORDESTE,BA,BAHIA,TIPO I,HIDROELÉTRICA,Hidráulica,Pedra do Cavalo,BAUCV,UHE.PH.BA.028565-0.01,80.58

In [209]:
for key in dataframes:
    dataframes[key] = dataframes[key].query("nom_tipousina == 'EOLIELÉTRICA'")

In [210]:
for key in dataframes:
    unique_values = dataframes[key]['nom_tipousina'].unique()
    print(f"Unique values in 'nom_tipousina' for {key}: {unique_values}")

Unique values in 'nom_tipousina' for _2006: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2007: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2008: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2009: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2010: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2011: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2012: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2013: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2014: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2015: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2016: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2017: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2018: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2019: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2020: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for _2021: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_01: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_02: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_03: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_04: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_05: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_06: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_07: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_08: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_09: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_10: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_11: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2022_12: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_01: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_02: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_03: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_04: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_05: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_06: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_07: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_08: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_09: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_10: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_11: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2023_12: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_01: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_02: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_03: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_04: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_05: ['EOLIELÉTRICA']
Unique values in 'nom_tipousina' for -2_2024_06: ['EOLIELÉTRICA']

In [211]:
for key in dataframes:
    dataframes[key] = dataframes[key][['din_instante', 'val_geracao']]

In [212]:
for key in dataframes:
    print(dataframes[key].dtypes)

din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object
din_instante     object
val_geracao     float64
dtype: object

In [213]:
for key in dataframes:
    dataframes[key]['din_instante'] = pd.to_datetime(dataframes[key]['din_instante'])
    print(dataframes[key].dtypes)

din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object
din_instante    datetime64[ns]
val_geracao            float64
dtype: object

In [214]:
for key in dataframes:
    dataframes[key]['year'] = dataframes[key]['din_instante'].dt.year
    dataframes[key]['month'] = dataframes[key]['din_instante'].dt.month
    dataframes[key]['day'] = dataframes[key]['din_instante'].dt.day
    dataframes[key]['hour'] = dataframes[key]['din_instante'].dt.hour
    print(dataframes[key].head(2))

              din_instante  val_geracao  year  month  day  hour
338110 2006-03-28 00:00:00          0.0  2006      3   28     0
338271 2006-03-28 01:00:00          0.0  2006      3   28     1
   din_instante  val_geracao  year  month  day  hour
22   2007-01-01        16.61  2007      1    1     0
34   2007-01-01        35.79  2007      1    1     0
   din_instante  val_geracao  year  month  day  hour
38   2008-01-01        32.97  2008      1    1     0
50   2008-01-01         2.74  2008      1    1     0
   din_instante  val_geracao  year  month  day  hour
37   2009-01-01        12.95  2009      1    1     0
50   2009-01-01         0.84  2009      1    1     0
   din_instante  val_geracao  year  month  day  hour
21   2010-01-01         1.04  2010      1    1     0
22   2010-01-01         1.75  2010      1    1     0
   din_instante  val_geracao  year  month  day  hour
24   2011-01-01         0.58  2011      1    1     0
25   2011-01-01        43.64  2011      1    1     0
   din_instante  val_geracao  year  month  day  hour
25   2012-01-01       18.951  2012      1    1     0
26   2012-01-01       29.551  2012      1    1     0
  din_instante  val_geracao  year  month  day  hour
7   2013-01-01         0.00  2013      1    1     0
8   2013-01-01        24.77  2013      1    1     0
   din_instante  val_geracao  year  month  day  hour
38   2014-01-01        18.22  2014      1    1     0
39   2014-01-01        22.03  2014      1    1     0
   din_instante  val_geracao  year  month  day  hour
42   2015-01-01       10.628  2015      1    1     0
43   2015-01-01       52.985  2015      1    1     0
   din_instante  val_geracao  year  month  day  hour
44   2016-01-01        7.356  2016      1    1     0
45   2016-01-01       20.518  2016      1    1     0
   din_instante  val_geracao  year  month  day  hour
47   2017-01-01       45.548  2017      1    1     0
48   2017-01-01       14.912  2017      1    1     0
   din_instante  val_geracao  year  month  day  hour
31   2018-01-01      199.662  2018      1    1     0
48   2018-01-01       19.097  2018      1    1     0
   din_instante  val_geracao  year  month  day  hour
31   2019-01-01      142.237  2019      1    1     0
48   2019-01-01       20.187  2019      1    1     0
   din_instante  val_geracao  year  month  day  hour
28   2020-01-01       23.796  2020      1    1     0
44   2020-01-01       80.772  2020      1    1     0
   din_instante  val_geracao  year  month  day  hour
23   2021-01-01      261.174  2021      1    1     0
39   2021-01-01       58.051  2021      1    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-01-01      101.353  2022      1    1     0
42   2022-01-01        6.038  2022      1    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-02-01      222.722  2022      2    1     0
43   2022-02-01      137.942  2022      2    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-03-01      157.846  2022      3    1     0
43   2022-03-01        0.000  2022      3    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-04-01       15.806  2022      4    1     0
43   2022-04-01       54.774  2022      4    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-05-01        1.234  2022      5    1     0
46   2022-05-01       61.016  2022      5    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-06-01      152.846  2022      6    1     0
46   2022-06-01      160.964  2022      6    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-07-01      219.918  2022      7    1     0
47   2022-07-01       74.640  2022      7    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-08-01      128.176  2022      8    1     0
47   2022-08-01       81.694  2022      8    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-09-01      194.719  2022      9    1     0
47   2022-09-01       74.937  2022      9    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-10-01      355.607  2022     10    1     0
47   2022-10-01       65.409  2022     10    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-11-01      371.524  2022     11    1     0
47   2022-11-01        7.073  2022     11    1     0
   din_instante  val_geracao  year  month  day  hour
14   2022-12-01      291.952  2022     12    1     0
49   2022-12-01        6.633  2022     12    1     0
   din_instante  val_geracao  year  month  day  hour
14   2023-01-01      211.772  2023      1    1     0
50   2023-01-01       86.051  2023      1    1     0
   din_instante  val_geracao  year  month  day  hour
14   2023-02-01      231.739  2023      2    1     0
50   2023-02-01      268.382  2023      2    1     0
   din_instante  val_geracao  year  month  day  hour
14   2023-03-01      370.738  2023      3    1     0
50   2023-03-01       32.662  2023      3    1     0
   din_instante  val_geracao  year  month  day  hour
14   2023-04-01        0.000  2023      4    1     0
50   2023-04-01      146.973  2023      4    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-05-01       76.440  2023      5    1     0
60   2023-05-01      170.068  2023      5    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-06-01        0.000  2023      6    1     0
60   2023-06-01      203.116  2023      6    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-07-01       16.068  2023      7    1     0
61   2023-07-01       54.097  2023      7    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-08-01      265.392  2023      8    1     0
61   2023-08-01       51.062  2023      8    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-09-01      384.673  2023      9    1     0
61   2023-09-01      282.883  2023      9    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-10-01      393.191  2023     10    1     0
61   2023-10-01       47.900  2023     10    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-11-01      251.101  2023     11    1     0
61   2023-11-01       28.044  2023     11    1     0
   din_instante  val_geracao  year  month  day  hour
17   2023-12-01      287.066  2023     12    1     0
61   2023-12-01       82.593  2023     12    1     0
   din_instante  val_geracao  year  month  day  hour
17   2024-01-01        2.193  2024      1    1     0
61   2024-01-01        0.273  2024      1    1     0
   din_instante  val_geracao  year  month  day  hour
17   2024-02-01      174.607  2024      2    1     0
61   2024-02-01       37.940  2024      2    1     0
   din_instante  val_geracao  year  month  day  hour
17   2024-03-01        3.686  2024      3    1     0
61   2024-03-01       18.623  2024      3    1     0
   din_instante  val_geracao  year  month  day  hour
17   2024-04-01        8.897  2024      4    1     0
61   2024-04-01       11.273  2024      4    1     0
   din_instante  val_geracao  year  month  day  hour
16   2024-05-01       77.989  2024      5    1     0
60   2024-05-01        3.714  2024      5    1     0
   din_instante  val_geracao  year  month  day  hour
16   2024-06-01        1.463  2024      6    1     0
60   2024-06-01       60.030  2024      6    1     0

In [215]:
for key in dataframes:
    dataframes[key] = dataframes[key].drop(columns=['din_instante', 'day', 'hour'])
    print(dataframes[key].head(2))

        val_geracao  year  month
338110          0.0  2006      3
338271          0.0  2006      3
    val_geracao  year  month
22        16.61  2007      1
34        35.79  2007      1
    val_geracao  year  month
38        32.97  2008      1
50         2.74  2008      1
    val_geracao  year  month
37        12.95  2009      1
50         0.84  2009      1
    val_geracao  year  month
21         1.04  2010      1
22         1.75  2010      1
    val_geracao  year  month
24         0.58  2011      1
25        43.64  2011      1
    val_geracao  year  month
25       18.951  2012      1
26       29.551  2012      1
   val_geracao  year  month
7         0.00  2013      1
8        24.77  2013      1
    val_geracao  year  month
38        18.22  2014      1
39        22.03  2014      1
    val_geracao  year  month
42       10.628  2015      1
43       52.985  2015      1
    val_geracao  year  month
44        7.356  2016      1
45       20.518  2016      1
    val_geracao  year  month
47       45.548  2017      1
48       14.912  2017      1
    val_geracao  year  month
31      199.662  2018      1
48       19.097  2018      1
    val_geracao  year  month
31      142.237  2019      1
48       20.187  2019      1
    val_geracao  year  month
28       23.796  2020      1
44       80.772  2020      1
    val_geracao  year  month
23      261.174  2021      1
39       58.051  2021      1
    val_geracao  year  month
14      101.353  2022      1
42        6.038  2022      1
    val_geracao  year  month
14      222.722  2022      2
43      137.942  2022      2
    val_geracao  year  month
14      157.846  2022      3
43        0.000  2022      3
    val_geracao  year  month
14       15.806  2022      4
43       54.774  2022      4
    val_geracao  year  month
14        1.234  2022      5
46       61.016  2022      5
    val_geracao  year  month
14      152.846  2022      6
46      160.964  2022      6
    val_geracao  year  month
14      219.918  2022      7
47       74.640  2022      7
    val_geracao  year  month
14      128.176  2022      8
47       81.694  2022      8
    val_geracao  year  month
14      194.719  2022      9
47       74.937  2022      9
    val_geracao  year  month
14      355.607  2022     10
47       65.409  2022     10
    val_geracao  year  month
14      371.524  2022     11
47        7.073  2022     11
    val_geracao  year  month
14      291.952  2022     12
49        6.633  2022     12
    val_geracao  year  month
14      211.772  2023      1
50       86.051  2023      1
    val_geracao  year  month
14      231.739  2023      2
50      268.382  2023      2
    val_geracao  year  month
14      370.738  2023      3
50       32.662  2023      3
    val_geracao  year  month
14        0.000  2023      4
50      146.973  2023      4
    val_geracao  year  month
17       76.440  2023      5
60      170.068  2023      5
    val_geracao  year  month
17        0.000  2023      6
60      203.116  2023      6
    val_geracao  year  month
17       16.068  2023      7
61       54.097  2023      7
    val_geracao  year  month
17      265.392  2023      8
61       51.062  2023      8
    val_geracao  year  month
17      384.673  2023      9
61      282.883  2023      9
    val_geracao  year  month
17      393.191  2023     10
61       47.900  2023     10
    val_geracao  year  month
17      251.101  2023     11
61       28.044  2023     11
    val_geracao  year  month
17      287.066  2023     12
61       82.593  2023     12
    val_geracao  year  month
17        2.193  2024      1
61        0.273  2024      1
    val_geracao  year  month
17      174.607  2024      2
61       37.940  2024      2
    val_geracao  year  month
17        3.686  2024      3
61       18.623  2024      3
    val_geracao  year  month
17        8.897  2024      4
61       11.273  2024      4
    val_geracao  year  month
16       77.989  2024      5
60        3.714  2024      5
    val_geracao  year  month
16        1.463  2024      6
60       60.030  2024      6

In [216]:
for key in dataframes:
    dataframes[key] = dataframes[key].groupby(['year', 'month'])['val_geracao'].sum().reset_index()
    print(dataframes[key].head(2))

   year  month  val_geracao
0  2006      3         9.71
1  2006      4       344.18
   year  month  val_geracao
0  2007      1     44518.78
1  2007      2     36306.07
   year  month  val_geracao
0  2008      1     54325.81
1  2008      2     42467.56
   year  month  val_geracao
0  2009      1     43644.75
1  2009      2     32474.71
   year  month  val_geracao
0  2010      1     82524.62
1  2010      2    109803.99
   year  month  val_geracao
0  2011      1      70895.3
1  2011      2      63545.3
   year  month  val_geracao
0  2012      1   255802.789
1  2012      2   189529.932
   year  month  val_geracao
0  2013      1   296020.566
1  2013      2   298421.331
   year  month    val_geracao
0  2014      1  468114.030162
1  2014      2  427428.487680
   year  month   val_geracao
0  2015      1  1.331756e+06
1  2015      2  1.071152e+06
   year  month   val_geracao
0  2016      1  1.271499e+06
1  2016      2  1.761776e+06
   year  month  val_geracao
0  2017      1  2653640.259
1  2017      2  2046555.200
   year  month  val_geracao
0  2018      1  3268030.483
1  2018      2  2041527.248
   year  month  val_geracao
0  2019      1  4145511.273
1  2019      2  2175544.734
   year  month  val_geracao
0  2020      1  2685623.673
1  2020      2  2710305.127
   year  month  val_geracao
0  2021      1  5397353.255
1  2021      2  3498003.933
   year  month  val_geracao
0  2022      1  4738960.944
   year  month  val_geracao
0  2022      2  4613552.929
   year  month  val_geracao
0  2022      3  5472258.523
   year  month  val_geracao
0  2022      4  5096418.726
   year  month   val_geracao
0  2022      5  5.982577e+06
   year  month  val_geracao
0  2022      6  5924103.086
   year  month  val_geracao
0  2022      7  8348661.311
   year  month  val_geracao
0  2022      8  9334555.921
   year  month  val_geracao
0  2022      9  9235083.571
   year  month  val_geracao
0  2022     10  9718336.632
   year  month  val_geracao
0  2022     11  6211097.222
   year  month  val_geracao
0  2022     12  6538296.374
   year  month  val_geracao
0  2023      1  6494718.977
   year  month  val_geracao
0  2023      2  6690821.532
   year  month  val_geracao
0  2023      3  6258100.081
   year  month  val_geracao
0  2023      4  4966606.512
   year  month  val_geracao
0  2023      5   7024568.19
   year  month  val_geracao
0  2023      6  8756039.971
   year  month   val_geracao
0  2023      7  1.012277e+07
   year  month  val_geracao
0  2023      8  9278714.789
   year  month  val_geracao
0  2023      9  9344526.374
   year  month  val_geracao
0  2023     10  9845874.465
   year  month  val_geracao
0  2023     11  8189615.812
   year  month  val_geracao
0  2023     12  8405260.049
   year  month  val_geracao
0  2024      1   5565846.19
   year  month  val_geracao
0  2024      2   6339384.52
   year  month  val_geracao
0  2024      3  5302217.979
   year  month  val_geracao
0  2024      4  6003793.409
   year  month  val_geracao
0  2024      5  8899729.807
   year  month  val_geracao
0  2024      6  9744690.602

In [217]:
combined_data = pd.concat(dataframes.values(), ignore_index=True)
combined_data

     year  month   val_geracao
0    2006      3  9.710000e+00
1    2006      4  3.441800e+02
2    2006      5  1.724670e+03
3    2006      6  8.398590e+03
4    2006      7  1.796663e+04
..    ...    ...           ...
215  2024      2  6.339385e+06
216  2024      3  5.302218e+06
217  2024      4  6.003793e+06
218  2024      5  8.899730e+06
219  2024      6  9.744691e+06

[220 rows x 3 columns]

In [218]:
combined_data.dtypes

year             int32
month            int32
val_geracao    float64
dtype: object

In [219]:
combined_data.to_csv('../data/month_energy_dataset.csv', index=False)